parameters:
  fileExtensions:
      - php
      - module
      - install
  paths:
    - ./
  excludePaths:
    - vendor
    - sut
  level: 3
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    -
      message: '#^Unsafe usage of new static#'
      path: src/Plugin/migrate/source/HttpSourcePluginBase.php
